h1{

    color:deepskyblue;
    background-color: cornsilk;
    border:1px solid green;
    padding: 10px;
    font-size:10px;
    font-family: cursive;

}

p{

    color: orange;
}

div{
    color: deepskyblue;
}

img{
    width:100px;
}