h1{

    color:deepskyblue;
    background-color: cornsilk;
    border:3px solid green;
    padding: 25px;
    font-size:25px;
    font-family: cursive;

}

p{

    background-color: orange;
}

div{
    color: red;
}

img{
    width:80px;
}