h1{

    color:deepskyblue;
    background-color: cornsilk;

    font-family: cursive;

}

p{

    color: organe;
}

div{
    color: deepskyblue;
}

img{
    border-radius: 8px;
    width: 300px;
 
}

.elly_pic{
    display: flex;
    justify-content: center;
}